.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 5rem;
    margin-left: 10%;
    margin-right: 10%; */
    padding-top: 5rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8rem;
    /* overflow: hidden; */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5%;
    animation-name: fade-in-right;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out ;
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translate(-2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0rem);

    }
}

.hi-text {
    font-size: 2.5rem;
    font-weight: 700;
    color: whitesmoke;
}

.title {
    font-size: 5rem;
    font-weight: 700;
    margin-top: -0.5rem;
    line-height: 1;
    background: -webkit-radial-gradient(#71ffe0, #0491c5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
    z-index: 1;
    transition: font-size 1s ease-in-out;
    text-align: center;
    

}

.title:hover {
    font-size: 6rem;
}

.description {
    font-size: 1.2rem;
    font-weight: 400;
    color: whitesmoke;
    margin-bottom: 72px;
    line-height: 2.2;
    max-width: 60%;
    border-left: 0.2rem solid whitesmoke;
    padding-left: 2rem;

}

.projects-btn {
    text-decoration: none !important;
    font-size: 1.2rem;
    color: whitesmoke;
    border-radius: 100px;
    border: 0.1rem solid whitesmoke;
    padding: 0.8rem 3rem;
    transition: 0.5s
}

.projects-btn:hover {
    background-color: whitesmoke;
    color: #001E2D;
    
}

.social-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    justify-content: space-between;
    gap: 2rem;
    align-self: center;
    background: -webkit-radial-gradient( #000c127e, #0000006f);
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 100px;
    z-index: 5;
}

.social-icons a {
    flex: 1; 
    display: flex;
    justify-content: center; 
}

.social-icons img {
    
    width: 3rem; 
    height: 3rem; 
    transition: 0.3s;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(107%) contrast(92%);
}

.social-icons img:hover {
    /* width: 3.5rem; 
    height: 3.5rem;  */
    transform: scale(1.2,1.2);
    filter: invert(47%) sepia(73%) saturate(457%) hue-rotate(144deg) brightness(96%) contrast(95%);
}

.profile-image {
    width: 30rem;
    max-width: 50%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));

}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 20px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.upArrow {
    background: -webkit-radial-gradient( #000c127e, #0000006f);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 100px;
    z-index: 5;

}
.upArrowImage {
    width: 3rem;
    height: 3rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(107%) contrast(92%);
    transition: 0.3s;

    &:hover {
        scale: 1.2 1.2;
        filter: invert(47%) sepia(73%) saturate(457%) hue-rotate(144deg) brightness(96%) contrast(95%);

    }
}



 .blur1 {
    position: absolute;
    height: 40vw;
    width: 40vw;
    top: -8rem;
    border: 764px;
    background: #023047;
    z-index: -1;
    filter: blur(150px);
}

@media screen and (max-width:830px){
    .container {
        flex-direction: column-reverse;
        padding: 5%;
        padding-bottom: 0;
    }
    .content {
        align-items: center;
    }
    .social-icons {
        position: relative;
        flex-direction: row;
        width: 100vw;
        border-radius: 0;
        margin-top: 3rem;
        gap: 0;
        padding-bottom: 1rem;
        
    }
    .title {
        align-self: center;
    }
}