.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    padding-top: 1rem;
    background-color: #000a0f;
    overflow-y: hidden;
    z-index: 0;
}

.patternBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #4f4f4f5d 1px, transparent 1px),
                linear-gradient(to bottom, #4f4f4f5d 1px, transparent 1px);
    background-size: 20px 26px;
    mask-image: radial-gradient(ellipse 60% 50% at 50% 0%, #000 70%, transparent 100%);
    z-index: 0;
}

.title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    background: -webkit-radial-gradient(#00ffc8, #0491c5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4rem ;
    z-index: 1;
    border-left: 0.2rem solid whitesmoke;
    padding-left: 2rem;
    align-self: self-start;
}

.imageAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    gap: 3rem;

}

.aboutImg {
width: 35%;
border-radius: 50px;
box-shadow: 0 0 30px 15px #000000;


}

.content {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
    padding: 0;
}

.listItem {
    display: flex;
    gap: 0rem;
    align-items: center;
    background: linear-gradient( 90deg, #002736, transparent);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    border-radius: 40px;
    padding: 0.5rem 2rem;
    transition: background-size 0.3s ease-in-out;
}
.listItem:hover img {
    width: 50px;
    margin-right: 2rem;
    
}
.listItem:hover {
    background-size: 100% 100%;
}


.content img {
    height: 50px;
    width: 0px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(107%) contrast(92%);
    transition: width 0.3s ease-in-out, margin-right 0.3s ease-in-out;
    z-index: 3;
}
.content h3 {
    width:fit-content;
    background: -webkit-radial-gradient(#00ffc8, #0491c5);
    background-clip: text;
    -webkit-text-fill-color: transparent;}
.content p {
    color: whitesmoke;
    line-height: 1.8;
    max-width: 37rem;
    text-align: justify;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



@media screen and (max-width:830px){
    .container{
        padding: 5%;
        padding-top: 0;
        padding-bottom: 10%;
    }
    .title {
        font-size: 3rem;
    }

    .aboutImg {
        display: none;
    }
    .content {
    }
    .content img{
        display: none;
    }
}
