.navbar {
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Poppins';
    font-weight: 400;
    background: -webkit-radial-gradient( #000c126f, #0000006f);
    /* border-radius: 100px; */
    /* border: 4px solid #001E2D ; */

    /* margin: 0.5rem; */
}

.navbar-brand a {
    color: whitesmoke;
    background: -webkit-radial-gradient( #ffffff, #b1b1b1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    white-space: nowrap;
}

.navbar-nav {
    list-style:none;
    display: flex;
    gap: 1rem;
}

.nav-item a {
    color: whitesmoke;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

.nav-item a:hover {
    /* background: -webkit-radial-gradient(#00ffc8, #0491c5);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #219EBC;
    font-weight: 700;
    
}